<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NetStalker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <NetStalker.Properties.Settings>
            <setting name="FriendlyName" serializeAs="String">
                <value />
            </setting>
            <setting name="Gateway" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalIp" serializeAs="String">
                <value />
            </setting>
            <setting name="Color" serializeAs="String">
                <value />
            </setting>
            <setting name="Accent" serializeAs="String">
                <value />
            </setting>
            <setting name="Tile" serializeAs="String">
                <value />
            </setting>
            <setting name="Minimize" serializeAs="String">
                <value>Taskbar</value>
            </setting>
            <setting name="GatewayMac" serializeAs="String">
                <value />
            </setting>
            <setting name="Protocol" serializeAs="String">
                <value />
            </setting>
            <setting name="PacketDirection" serializeAs="String">
                <value />
            </setting>
            <setting name="AdapterName" serializeAs="String">
                <value />
            </setting>
            <setting name="SpoofProtection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NetMask" serializeAs="String">
                <value />
            </setting>
            <setting name="NetSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SuppressNotifications" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LocalMac" serializeAs="String">
                <value />
            </setting>
            <setting name="BroadcastAddress" serializeAs="String">
                <value />
            </setting>
        </NetStalker.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
